In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../data/2023_09_22_TUBE_BR.csv")
data.head()

/tmp/ipykernel_36684/1854893339.py:1: DtypeWarning: Columns (0,1,2,4,6,7,8,10,12,14,16,18,19,20,21,22,23,24,25,26,27,28,29,30,32,34,36,37,38,43,44,46,47,49,52,53,54,55,56,57,58,59,60,61,63,64,65,66,67,68,69,70,71,72,73,74,75,76,78,79,80,81,82,83,84,85,86,87,90,91,92,93,94,95,96) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../data/2023_09_22_TUBE_BR.csv")

,tp_not,id_agravo,dt_notific,nu_ano,sg_uf_not,id_municip,id_regiona,dt_diag,ano_nasc,nu_idade_n,...,agravdroga,agravtabac,test_molec,test_sensi,ant_retro,bac_apos_6,transf,uf_transf,mun_transf,idade
0,2,A169,2013-11-29,2013.0,42,421010.0,NaN,2013-11-29,1955.0,4058.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0
1,2,A169,2013-08-30,2013.0,42,420460.0,1558.0,2013-08-30,1987.0,4025.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0
2,2,A169,2013-07-16,2013.0,41,410830.0,1363.0,2013-07-13,1937.0,4076.0,...,2.0,2.0,5.0,7,2.0,NaN,3.0,43.0,43.0,76.0
3,2,A169,2013-06-13,2013.0,31,311860.0,1449.0,2013-06-12,1945.0,4067.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0
4,2,A169,2013-08-01,2013.0,25,250750.0,1377.0,2013-08-01,1977.0,4035.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0

In [3]:
def replace_dot(x):
    if x == ".":
        return "1"
    else:
        return x
data["tratamento"] = data["tratamento"].apply(lambda x: replace_dot(x))
data["tratamento"] = data["tratamento"].astype(float)

data["situa_ence"] = data["situa_ence"].apply(lambda x: replace_dot(x))
data["situa_ence"] = data["situa_ence"].astype(float)

In [4]:
#recode variables
dictionary = {
    "cs_raca": {1: 0, 2: 1, 3: 1, 4: 1, 5: 1}, #0 = white 1 = non white
    "cs_sexo": {"F": 0, "M":1},
    
    "pop_imig" : {1: 1, 2: 0, 9 : np.nan},
    "pop_rua": {1: 1, 2: 0, 9 : np.nan},
    "pop_saude": {1: 1, 2: 0, 9 : np.nan},
    "pop_liber": {1: 1, 2: 0, 9 : np.nan},
    "cs_gestant": {1:1, 2:1, 3:1, 4:1, 5:0, 6:0, 9: np.nan},
    "situa_ence": {1: "Cure", 2: "Treatment incomplete", 3: "Death", 4: "Death", 5: "Transfer", 6: "Diagnostic change",
                   7: "Regimen switch", 8: "Regimen switch", 9: "Failure", 10: "Treatment incomplete"},
    "cs_escol_n": {1: 0, 2:1, 3:1, 4:2, 5:2, 6:2, 7:3, 8:3},
    "hiv": {1:1, 2:0},
    "agravdroga": {1:1, 2:0},
    "agravtabac": {1:1, 2:0},
    "agravalcoo": {1:1, 2:0},
    "agravdiabe": {1:1, 2:0},
    "agravdoenc": {1:1, 2:0},
    "agravoutra": {1:1, 2:0, 9:np.nan},
    "ant_retro": {1:1, 2:0, 9 : np.nan},
    "tratamento": {1: 0, 2: 1, 3: 1, 4: 0, 5: np.nan, 6: np.nan, np.nan: 0},
    "forma": {1: "PTB", 2: "EPTB", 3: "Booth"},
    "raiox_tora": {1: 1, 2:0},
    "tratsup_at": {1: 1, 2:0}, #DOT 1 Yes 0 No
    "bacilosc_e": {1: 1, 2: 0, 3:np.nan, 4: np.nan},
    "histopatol": {1: 1, 2:0, 3: 0, 4: np.nan, 5:np.nan},
    "cultura_es": {1: 1, 2:0, 3: np.nan, 4: np.nan},
    "test_sensi": {1: 1, 2:1, 3: 1, 4: 1, 5: 0,
                   6: 0, 7: 0, np.nan:0},
    "benef_gov": {1: 1, 2: 0},
    "forma": {1: "Pulmonary", 2: "Extra-pulmonary", 3: "Booth"},
    "bacilosc_1": {1: 1, 2:0, 3: np.nan, 4: np.nan},
    "bacilosc_2": {1: 1, 2:0, 3: np.nan, 4: np.nan},
    "bacilosc_3": {1: 1, 2:0, 3: np.nan, 4: np.nan},
    "bacilosc_4": {1: 1, 2:0, 3: np.nan, 4: np.nan},
    "bacilosc_5": {1: 1, 2:0, 3: np.nan, 4: np.nan},
    "bacilosc_6": {1: 1, 2:0, 3: np.nan, 4: np.nan},
    }


def encode_state(x):
    if x in [11, 12, 13, 14, 15, 16, 17]:
        return "North"
    elif x in [21, 22, 23, 24, 25, 26, 27, 28, 29]:
        return "NorthEast"
    elif x in [31, 32, 33, 35]:
        return "SouthEast"
    elif x in [41, 42, 43]:
        return "South"
    elif x in [50, 51, 52, 53]:
        return "Central-west"


data["sg_uf_not"] = data["sg_uf_not"].apply(lambda x: encode_state(x))

for col in data.columns:
    if col in dictionary.keys():
        data[col] = data[col].map(dictionary[col])
data[dictionary.keys()].head()

,cs_raca,cs_sexo,pop_imig,pop_rua,pop_saude,pop_liber,cs_gestant,situa_ence,cs_escol_n,hiv,...,histopatol,cultura_es,test_sensi,benef_gov,bacilosc_1,bacilosc_2,bacilosc_3,bacilosc_4,bacilosc_5,bacilosc_6
0,0.0,1.0,NaN,NaN,NaN,NaN,0.0,Death,0.0,0.0,...,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,1.0,NaN,NaN,NaN,NaN,0.0,Cure,1.0,NaN,...,NaN,NaN,0.0,NaN,1.0,0.0,0.0,0.0,NaN,NaN
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Cure,NaN,0.0,...,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,1.0,NaN,NaN,NaN,NaN,0.0,Cure,NaN,0.0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,1.0,NaN,NaN,NaN,NaN,0.0,Treatment incomplete,0.0,0.0,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [5]:
#compute time in SINAN for each group 
data["time_in_SINAN"] = (pd.to_datetime(data["dt_encerra"], errors = "coerce", format = "%Y-%m-%d") - 
                         pd.to_datetime(data["dt_inic_tr"], errors = "coerce", format = "%Y-%m-%d")).dt.days

In [6]:
#remove data before 2020
data.query("nu_ano >= 2015 and nu_ano <= 2022", inplace = True)
N =  data.shape[0]
N

743823

In [7]:
data.query("idade >= 18", inplace = True)
lost = N -  data.shape[0]
N = data.shape[0]
print(lost)
N

39417

704406

In [8]:
data.query("pop_imig == 0", inplace = True)
lost = N -  data.shape[0]
N = data.shape[0]
print(lost)
N

70125

634281

In [9]:
data.query("pop_rua == 0", inplace = True)
lost = N -  data.shape[0]
N = data.shape[0]
print(lost)
N

26417

607864

In [10]:
data.query("pop_saude == 0", inplace = True)
lost = N -  data.shape[0]
N = data.shape[0]
print(lost)
N

26675

581189

In [11]:
data.query("cs_gestant == 0", inplace = True)
lost = N -  data.shape[0]
N = data.shape[0]
print(lost)
N

69891

511298

In [12]:
data.query("pop_liber == 0", inplace = True)
lost = N -  data.shape[0]
N = data.shape[0]
print(lost)
N

59679

451619

In [13]:
data["forma"].value_counts()

forma
Pulmonary          378238
Extra-pulmonary     58981
Booth               14395
Name: count, dtype: int64

In [14]:
data.query("forma == 'Pulmonary'", inplace = True)
lost = N - data.shape[0]
N = data.shape[0]
print(lost)
N

73381

378238

In [15]:
##### remo treatment resistent
data.query("test_sensi == 0", inplace = True)
lost = N -  data.shape[0]
N = data.shape[0]
print(lost)
N

8827

369411

In [16]:
#remove time that make no sense
data.query("time_in_SINAN >= 0 and time_in_SINAN <= 300", inplace = True)
lost = N -  data.shape[0]
N = data.shape[0]
print(lost)
N

65688

303723

In [17]:
sum(data["tratamento"].isna())

9440

In [18]:
data = data[data["tratamento"].isin([0, 1])]
lost = N -  data.shape[0]
N = data.shape[0]
print(lost)
N

9440

294283

In [19]:
sum(data["situa_ence"].isna())

1189

In [20]:
data["situa_ence"].value_counts()

situa_ence
Cure                    202353
Treatment incomplete     41373
Death                    23823
Transfer                 17118
Diagnostic change         4312
Regimen switch            3867
Failure                    248
Name: count, dtype: int64

In [21]:
#data.query("situa_ence == 'Cure' or situa_ence == 'Death' or situa_ence == 'Treatment incomplete' or situa_ence == 'Failure'", 
#           inplace = True)

data.query("situa_ence == 'Cure'  or situa_ence == 'Treatment incomplete'", inplace = True)
lost = N -  data.shape[0]
N = data.shape[0]
print(lost)
N

50557

243726

In [22]:
data["outcome"] = data["situa_ence"].apply(lambda x: 0 if x == "Cure" else 1)

In [23]:
data["outcome"].value_counts()

outcome
0    202353
1     41373
Name: count, dtype: int64

In [24]:
data.to_csv("../data/2023_10_09_Ml_python_data.csv", index = False)